# Node.js dependencies
node_modules/

# Firebase config files for emulators and service accounts
firebase-debug.log
firebase-debug.*.log
.env
.env.*

# Build outputs
ApplicationBackend/functions/lib/
ApplicationBackend/functions/node_modules/
ApplicationBackend/functions/.cache/
ApplicationBackend/functions/emulator-data
ApplicationBackend/.env

# IDE/editor specific files
.idea/
.vscode/
*.swp



# Logs
*.log

# # Firebase Hosting cache and metadata
# .firebase/
# hosting/.cache/

# Google service account key (if any)
service-account.json
#  eslint 
.eslintcache
