@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1877f2;
  --secondary: #f0f2f5;
  --accent: #42b72a;
  --neutral: #ffffff;
  --background: #f5f5f5;
  --info: #0073e6;
  --success: #34a853;
  --warning: #ffa500;
  --error: #d93025;
  --base-100: #ffffff;
  --base-content: #050505;
  --muted-content: hsl(214, 8%, 41%);
  --bg-support: #fff9d7;
  --border-support: #e2c822;
}

body {
  @apply font-roboto;
}
.customNavbar {
  display: flex;
  align-items: center;
  padding: 0px;
  min-height: 4rem /* 64px */;
  width: 100%;
}
:where(.navbar > *:not(script, style)) {
  display: inline-flex;
  align-items: center;
}
