@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1877f2;
  --secondary: #f0f2f5;
  --accent: #42b72a;
  --neutral: #ffffff;
  --background: #f5f5f5;
  --info: #0073e6;
  --success: #34a853;
  --warning: #ffa500;
  --error: #d93025;
  --base-100: #ffffff;
  --base-content: #050505;
  --muted-content: #606770;
  --bg-support: #fff9d7;
  --border-support: #e2c822;
}

body {
  @apply font-roboto;
}

/* .container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 md:px-8;
} */
